.menubar{
    display: flex;
    justify-content: center;
   
}
.menubar li{
    margin-right: 2rem;
    list-style: none;
}

.menubar li a{
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem 1rem;
}

.menubar li a:hover

{
     background-color: aquamarine;
     color: white;
     border-radius: .2rem;
}