h1{
  border: 2px solid black;
}
.items{
  border: 2px solid black;
  display: flex;
  justify-content: ;
  width: 70%;
   margin-left: 15rem;
   margin-bottom: .5rem;
   padding-left: 1rem;
} 

.items h3{
          margin-left: 1rem;
}

